{% extends 'base.html' %}
{% block body %}
<form class="classic_search_form_element" action="" method="POST">
    <div class="classic_search_field">
        <label class="classic_search_label" for="name"></label>
        <input class="form_text_input classic_search_text_input" type="text" name="search" placeholder="Search for Card Flourishes.">
    </div>
    <input type="submit" value="Submit" class="classic_search_submit_btn">
</form>
{% for classic in classics %}
<!-- <div class="">
    <div class="">{{ classic.name }}</div>
    <div class=""><a href="{% url 'delete_classic' id=classic.id %}">delete</a></div>
    <iframe width="215" height="215" src="https://www.youtube.com/embed/{{ classic.youtube_link }}" frameborder="0" allowfullscreen></iframe>
</div> -->
{% endfor %}
{% endblock body %}
