{% extends 'base.html' %}
{% block body %}
feed
<div class="">
    Hello, <a href="{% url 'cardist' user.username %}">{{ user.username }}</a>.
    <a href="/logout/">logout</a>
</div>
{% if no_moves %}
    <div class="">No Moves have been created.</div>
{% else %}
    {% for move in moves %}
        <div class="">{{move.name}}</div>
        {% if move.tutorial %}
            <div class="">Tutorial</div>
        {% endif %}
        <iframe width="215" height="215" src="https://www.youtube.com/embed/{{ move.youtube_link }}" frameborder="0" allowfullscreen></iframe>
    {% endfor %}
{% endif %}
{% endblock body %}
