/*
This Stylesheet contains common rules for all
screen sizes.
*/
:root{
    /* colors */
    --form-bg-color: #D6D6D6;
    /* sizes */
    --one-em: 1em 1em 1em 1em;
    --half-em: 0.5em 0.5em 0.5em 0.5em;
}
body{
    background-image: url("../images/subtlepattern.png");
    font-family: 'Andada', serif;
}
.global_container{
    margin-left: 3%;
    margin-right: 3%;
}
.block{
    display: block;
}
.inline_block{
    display: inline-block;
}
/* GLOBAL FORM ELEMENTS */
.form_element{
    display: block;
    padding: var(--one-em);
}
.form_header{
    padding: var(--one-em);
    text-align: center;
    background-color: #698b9b;
    color: white;
    margin-bottom: 0.5em;
}
.form_field{
    display: block;
    margin: 0.5em 0em 0.5em 0em;
}
.form_label{
}
.form_text_input{
    display: block;
    height: 2.0em;
    border-radius: var(--half-em);
    width: 100%;
}
.form_submit_btn{
}
/* CLASSIC FORM */
.classic_form_element{
    display: block;
    margin-left: 25%;
    margin-top: 2em;
    background-color: var(--form-bg-color);
    width: 45%;
    padding: 1em 1em 1em 1em;
    border-radius: var(--one-em);
}
.classic_form_field{
    margin-bottom: 1em;
}
.classic_form_label{
    display: block;
    width: 50%;
    height: auto;
}
.classic_form_input{
    display: block;
    width: 100%;
}
.classic_form_select{
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 49%;
    font-size: 200%;
}
.classic_form_submit_btn{
    margin-left: 85%;
    font-size: 200%;
}
/* CLASSIC SEARCH */
.classic_search_form_element{
    background-color: var(--form-bg-color);
    margin-top: 8em;
    margin-left: 8%;
    padding-left: 15%;
    padding-top: 2em;
    padding-bottom: 1em;
    border-radius: var(--one-em);
    width: 65%;
}
.classic_search_field{
}
.classic_search_label{
}
.classic_search_text_input{
    display: block;
    width: 80%;
    margin-bottom: 1em;
}
.classic_search_submit_btn{
    margin-left: 71%;
    width: 10%;
    height: 52px;
}
/* CREATE PROFILE */
.create_profile_form{
    display: block;
    margin-left: 15%;
    margin-top: 5%;
}
.create_profile_field{
    display: block;
    margin-bottom: 1em;
}
.create_profile_label{
    display: block;
    width: 50%;
}
.create_profile_input{
    width: 80%;
}
/* PROFILE PAGE */
.cardist_create_move_form_element{
    background-color: var(--form-bg-color);
    width: 25%;
}
/* FEED */
.feed_container{
    margin-top: 3em;
}
.video_feed_container{
    display: inline-block;
    width: 49%;
}
.feed_filter_container{
    display: inline-block;
    width: 49%;
    vertical-align: top;
}
/* INDIVIDUAL VIDEO */
.individual_video_container{
    margin-bottom: 1em;
    background-color: #6E6E6E;
    padding: 1em;
    border-radius: 1em;
    width: 57%;
}
.cardist_video_container{
    display: inline-block;
}
.individual_video_header_container{
    font-size: 110%;
    display: block;
    padding: 0.5em;
    border-radius: 1em;
    background-color: #A4A4A4;
    margin-bottom: 1em;
}
.individual_video_name{
    display: inline-block;
    padding-bottom: 1em;
}
.individual_video_user{
    display: inline-block;
}
.individual_video_rating{
    display: inline-block;
}
.individual_video_voting_container{
    display: inline-block;
    margin-left: 65%;
}
.individual_video_voting_container > span{
    display: inline-block;
    color: white;
    padding: 0;
}
.individual_video_voting_container > span:hover{
    display: inline-block;
    color: blue;
    cursor: pointer;
}
.individual_video_tutorial{
}
.individual_video_description{
}